<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Local Xperts</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', path='css/website.css') }}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-custom">
        <div class="container">
            <a class="navbar-brand" href="/homepage">Local Xperts</a>
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="servicesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Services
                        </a>
                        <div class="dropdown-menu" aria-labelledby="servicesDropdown">
                            <div class="dropdown-submenu">
                                <a class="dropdown-item dropdown-toggle" href="/homeservices">Home Services</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="/plumbing">Plumbing</a></li>
                                    <li><a class="dropdown-item" href="/electrician">Electrical</a></li>
                                    <li><a class="dropdown-item" href="/lawncare">Lawn Care</a></li>
                                </ul>
                            </div>
                            <div class="dropdown-submenu">
                                <a class="dropdown-item dropdown-toggle" href="/automotiveservices">Automotive Services</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="/carwash">Car Wash</a></li>
                                    <li><a class="dropdown-item" href="/carrepair">Car Repair</a></li>
                                    <li><a class="dropdown-item" href="/oilchange">Oil Change</a></li>

                                </ul>
                            </div>
                            <div class="dropdown-submenu">
                                <a class="dropdown-item dropdown-toggle" href="/personalservices">Personal Services</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="/tutor">Tutoring</a></li>
                                    <li><a class="dropdown-item" href="/personaltraining">Personal Training</a></li>
                                    <li><a class="dropdown-item" href="/makeup">Makeup Services</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="/aboutus">About Us</a></li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contactus">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/freelancersignup">Sign Up As Freelancer</a>
                    </li>
                </ul>
            </div>
        </div>
        
    </nav>
    

    <div class="video-container">
        <video src="{{ url_for('static', path='videos/homepage_video.mp4') }}" autoplay muted loop></video>
        <div class="overlay-text">
            <h1>Find Trusted Local Freelancers</h1>
            <p>From gardening to plumbing, tutoring to cleaning, get the help you need when you need it.</p>
            <br>
            <center>
            <button class="animated-button">
                <svg viewBox="0 0 24 24" class="arr-2" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
                  ></path>
                </svg>
                <a href="/homeservices" class="text" style= "text-decoration:none; color :white">Explore</a>
                <span class="circle"></span>
                <svg viewBox="0 0 24 24" class="arr-1" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
                  ></path>
                </svg>
              </button></center>
        </div>
    </div>
    
        <br>
        <hr style="border: 5px #998c8c solid;">
        <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h1 style="text-align: center; letter-spacing: 3px;">Welcome to Local Xperts</h1>
                <br><br>
                <p style="letter-spacing: 3px; text-align: left; font-size:18px;">
                    At Local Xperts, we prioritize your needs and convenience. As a community-focused, family-owned business, we offer top-tier services in gardening, plumbing, tutoring, and cleaning. Our local roots enable us to provide personalized, reliable solutions that meet your specific needs</p>
                
                    <p style="letter-spacing: 3px; text-align: left; font-size:18px;">
                        We understand the importance of your home and daily life. Our mission is to connect you with skilled local professionals for quick fixes or comprehensive services. Trust Local Xperts to deliver exceptional results, ensuring your satisfaction and peace of mind.
                    </p>
                
                </div>
            <div class="col-md-6">
                <img src="{{ url_for('static', path='images/carwash.jpg') }}" alt="" class="transition-image">
            </div>    
            
        </div>
    </div>
    <br>

    <hr style="border: 5px #998c8c solid;">


    <h2 style="text-align: center; letter-spacing:3px;" > CATEGORIES</h2>
    <br>
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="bg">
                        <br>
                        <h4 style="text-align: center; letter-spacing:3px;">Home Services</h4>
                        <br><br>
                        <p style="text-align: center; letter-spacing:3px">Detailed solutions for all your home needs.</p>
                        <br>
                       <center><a href="homeservices.html"><button>Learn More!</button></a> </center>
            
                    </div>
                    <div class="blob"></div>
                  </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="bg">
                        <br>
                        <h4 style="text-align: center; letter-spacing:3px;">Personal Services</h4>
                        <br><br>
                        <p style="text-align: center; letter-spacing:3px">Dedicated support for your personal and home needs.</p>
                        <br>
                       <center> <a href="personalservices.html"><button>Learn More!</button></a> </center>
            
                    </div>
                    <div class="blob"></div>
                  </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="bg">
                        <br>
                        <h4 style="text-align: center; letter-spacing:3px;">Automotive Services</h4>
                        <br><br>
                        <p style="text-align: center; letter-spacing:3px">Expert care and maintenance for your vehicles.</p>
                        <br>
                       <center> <a href="automotiveservices.html"> <button>Learn More!</button></a> </center>
            
                    </div>
                    <div class="blob"></div>
                  </div>
            </div>
        </div>
    </div>
        <br>
        <hr style="border: 5px #998c8c solid;">
       
    <div class="container-fluid">
        <br>
        <center><h1 style="color: #000000; letter-spacing:3px;">Why Local Xperts?</h1> </center>
        <br> <br>
        <div class="row">
            <div class="col-md-4">
                <center>
                <img src="{{ url_for('static', path='images/tool-box.png') }}" alt="" width="100px">
                <br><br>
                <h5>Fully Equipped</h5>
                <p>We bring everything needed to get the job done well</p>
                </center>
            </div>
            <div class="col-md-4">
                <center>
                <img src="{{ url_for('static', path='images/dollar.png') }}" alt="" width="100px">
                <br><br>
                <h5>Transparent Pricing</h5>
                <p>See fixed prices before you book. No hidden charges</p>
                </center>
            </div>
            <div class="col-md-4">
            <center>
                <img src="{{ url_for('static', path='images/verified.png') }}" alt="" width="100px">
                <br><br>
                <h5>Experts Only</h5>
                <p>Our professionals are well trained and have on-job expertise.
                </p>            
            </center>        
            </div>            
        </div>
    </div>
    <hr style="border: 5px #998c8c solid;">
    <div class="container-lg">
        <div class="row">
            <div class="col-sm-12">			
                <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="2000">
                    <h2 style="letter-spacing: 3px; text-align:center; ">Customer <b>Testimonials</b></h2>
                    <br><br>
                    <!-- Carousel indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>   
                    <!-- Wrapper for carousel items -->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="testimonial">
                                        <p>I hired a handyman through this platform to fix some issues around my house. The service was quick, efficient, and the professional was very courteous. Highly recommend!</p>
                                    </div>
                                    <div class="media">
                                        <img src="{{ url_for('static', path='images/woman.png') }}" class="mr-3" alt="">
                                        <div class="media-body">
                                            <div class="overview">
                                                <div class="name"><b>Sara Nadeem</b></div>
                                                <div class="details"> Booked Home Services / Handyman</div>
                                                <div class="star-rating">
                                                    <ul class="list-inline">
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                    </ul>
                                                </div>
                                            </div>										
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="testimonial">
                                        <p>The car mechanic I found here was amazing! My car had some major issues, and he fixed them in no time at a reasonable price. The service provider was disciplined and was cooperative. Great Service!</p>
                                    </div>
                                    <div class="media">
                                        <img src="{{ url_for('static', path='images/man.png') }}" class="mr-3" alt="">
                                        <div class="media-body">
                                            <div class="overview">
                                                <div class="name"><b>Ali Ahmed</b></div>
                                                <div class="details">Booked Automotive Services</div>
                                                <div class="star-rating">
                                                    <ul class="list-inline">
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                    </ul>
                                                </div>
                                            </div>										
                                        </div>
                                    </div>
                                </div>
                            </div>			
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="testimonial">
                                        <p>The cleaning service I booked through this platform was outstanding. My house has never looked so clean. The cleaner was professional and paid attention to every detail.</p>
                                    </div>
                                    <div class="media">
                                        <img src="{{ url_for('static', path='images/man.png') }}" class="mr-3" alt="">
                                        <div class="media-body">
                                            <div class="overview">
                                                <div class="name"><b>Muhammad Ahmad</b></div>
                                                <div class="details">Booked Home Services / Cleaner</div>											
                                                <div class="star-rating">
                                                    <ul class="list-inline">
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                    </ul>
                                                </div>
                                            </div>										
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="testimonial">
                                        <p>I got my car detailed by a professional from this website, and it looks brand new. The detailer was meticulous and very friendly. I will definitely use this service again.</p>
                                    </div>
                                    <div class="media">
                                        <img src="{{ url_for('static', path='images/man.png') }}" class="mr-3" alt="">
                                        <div class="media-body">
                                            <div class="overview">
                                                <div class="name"><b>Hasan Malik</b></div>
                                                <div class="details">Booked Automotive Services/ Car Detailer</div>
                                                <div class="star-rating">
                                                    <ul class="list-inline">
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                    </ul>
                                                </div>
                                            </div>										
                                        </div>
                                    </div>
                                </div>
                            </div>			
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="testimonial">
                                        <p>I had some electrical issues at home, and the electrician I hired from this platform was fantastic. He was knowledgeable, quick, and very professional. Highly recommend this service!</p>
                                    </div>
                                    <div class="media">
                                        <img src="{{ url_for('static', path='images/woman.png') }}" class="mr-3" alt="">
                                        <div class="media-body">
                                            <div class="overview">
                                                <div class="name"><b>Ayesha Hissam</b></div>
                                                <div class="details">Booked Home Services / Electrician</div>
                                                <div class="star-rating">
                                                    <ul class="list-inline">
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                    </ul>
                                                </div>
                                            </div>										
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="testimonial">
                                        <p>We needed a tutor for our daughter who was struggling with her high school subjects. The tutor we found here is incredible and was very cooperative. I would use their services again</p>
                                    </div>
                                    <div class="media">
                                        <div class="media-left d-flex mr-3">
                                            <img src="{{ url_for('static', path='images/woman.png') }}" alt="">										
                                        </div>
                                        <div class="media-body">
                                            <div class="overview">
                                                <div class="name"><b>Maryam Ahmed</b></div>
                                                <div class="details">Booked Personal Services / Tutor</div>
                                                <div class="star-rating">
                                                    <ul class="list-inline">
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                    </ul>
                                                </div>
                                            </div>										
                                        </div>
                                    </div>
                                </div>
                            </div>			
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
            

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</body>
</html>
